<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="footer-text">
          <p>Short ribs strip steak short loin tongue, alcatra venison corned beef. Beef spare ribs brisket doner drumstick burgdoggen jerky. Kielbasa brisket bresaola corned beef prosciutto pork chop ball tip alcatra. Ham hock cow beef, pork tail tenderloin venison fatback.</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 footer-li-1">
        <div id="footer-left-border">
        </div>
        <ul class="footer-links">
          <li class="logo-links" ><a href="#" class="fa fa-facebook"></a><a class="a-text" href="#">  Facebook</a></li>
          <li class="logo-links" ><a href="#" class="fa fa-twitter"></a><a class="a-text" href="#">  Twitter</a></li>
          <li class="logo-links" ><a href="#" class="fa fa-instagram"></a><a class="a-text" href="#">  Instagram</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 footer-li-2">
        <div id="footer-left-border">
        </div>
        <ul class="footer-links">
          <li><a class="a-text" href="#">Sahip</a></li>
          <li><a class="a-text" href="#">Olduklarimiz</a></li>
          <li><a class="a-text" href="#">Onem</a></li>
          <li><a class="a-text" href="#">Arz etmektedir</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12" id="footer-bottom-text">
        <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
      </div>
    </div>
  </div>
</footer>
