  <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Hakkımızda</h6>
        <p class="text-justify">Lorem Ipsum bulmakla uğraşmak yerine kısa bir metin yazarak önizleme sağlıyorum.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Etkinlikler</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/front-end-development/">CTF</a></li>
          <li><a href="http://scanfcode.com/category/c-language/">Siber Kümelenme Eğitimi</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Android Eğitimleri</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Hızlı Ulaş</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Hakkımızda</a></li>
          <li><a href="http://scanfcode.com/contact/">İletişim</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Designed and developed by IUCyber
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <!-- <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul> -->
      </div>
    </div>
  </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
