<%- include("partials/header") %>
<%- include("partials/navbar") %>


<div id="contact-container" class="container">
  <p id="contact-head-text">İletişim</p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
</div>


<%- include("partials/footer") %>
